.single * + * {
  margin-left: 40px;
}

.multiple * + * {
  margin-left: 40px;
}
.multiple * + * {
  margin-top: 12px;
}

:global(ul.global * + *) {
  margin-left: 12px;
}
:global(ul.global * + *) {
  margin-top: 12px;
}

.mix-local-n-global * + * {
  margin-left: 12px;
}

:global(.mix-local-n-global * + *) {
  margin-top: 12px;
}

.with-other-props {
  color: blue;
}
.with-other-props * + * {
  margin-left: var(--var);
}
.with-other-props * + * {
  margin-top: var(--var);
}
